html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,h2 {
  position: relative;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -.03em;
  -webkit-font-feature-settings: "case" on;
  font-feature-settings: "case" on;
  background: -webkit-linear-gradient(45deg,#e1f3ff 20%,#7bc5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  body {
    background-color: #2F62AB!important;
    display: flex;
    align-items: center;
    }
    * {  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    main.main-container {
    display: flex;
    align-items: flex-start;
    margin: 0 4rem;


  }

    p {
        color: white;
        font-size: 1.2rem;}

    .welcome-box {
        margin:0rem 8rem;
        width: 40%;

    }
    .calc-box {
        background-color: white;
        padding: 2rem;
        margin: 4rem;
        border-radius: 15px;
        width: 60%;
    }
    .history-box {
      background-color: #0f3367;
      padding: 2rem;
      margin: 1rem;
      border-radius: 15px;

    }

  #calcForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-container {
    margin-bottom: 10px;
  }

  #argumentsContainer {
    display: flex;
    flex-direction: column;
  }

  input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 16px;
  }

  #addArgumentBtn,
  #clearValuesBtn,
  #calculateBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  #result {
    font-size: 20px;
    margin-top: 20px;
  }
